@import 'src/styles/variables';
@import 'src/styles/mixins';

.Action {
  margin-top: 1rem;
}
.List {
  &Wrapper {
    list-style: none;
    margin: 0 -0.5rem;
    padding: 0;

    li {
      margin-bottom: 1.5rem;

      @include bp(desktop) {
        display: inline-block;
        width: 25%;
      }
    }
  }
}
.Wrapper {
  margin-top: 2rem !important;
  margin-bottom: 5rem !important;
}
