* {
  box-sizing: border-box;
  font-family: $font-sans-serif;
}

html,
body {
  margin: 0 auto;
  font-size: $font-size;
  font-weight: normal;
  color: $color-gray;
}

p {
  margin: 0 auto;

  & + p {
    margin-top: 1rem;
  }
}

a {
  text-decoration: none;
  color: $color-gray;
  transition: all ease 0.15s;

  &:hover {
    color: $color-blue;
  }
}
