// Colors
$color-red: #eb4d4b;
$color-green: #6ab04c;
$color-blue: #4834d4;
$color-orange: #f0932b;
$color-gray: #535c68;
$color-darkblue: #130f40;
$color-box: #dddddd;
$color-text: #222;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-hd: 1440px;

// Containers
$container-width: 960px;

// Typography
$font-sans-serif: 'Source Sans Pro', sans-serif;
$font-size: 16px;
